body
{
   background-color: #F0F0F0;
}

a 
{

}

a:hover
{
    
}

a img
{
    
}

/* hauptgrafiken */

#root_top
{    
    margin-top: 0px;
    height: auto;
    width: 1000px;
}

    #head_main_container
    {
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0px;
    }   
    
        .header_background
        {
            height: 100px;
            width: 100%;
            background: url(img/head.svg) no-repeat;
        }
    
    #navigation_container
    {
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 8800px;
        background-color: #489D40;
    } 
    
    #bottom_container
    {
        bottom: 0px;
        width: 100%;
        height: 50px;
        position: fixed;
    }
    
        .bottom_background
        {
            height: 50px;
            width: 100%;
            background: url(img/bottom.svg) no-repeat;
        }